#header {
  width: 100%;
  text-align: left;
}

#header img {
  vertical-align: middle;
  border: 2px solid black;
}

#header h1 {
  padding-left: 2em;
  display: inline;
}

#header hr {
  clear: both;
}

#mainindex {
}

#newad {
  font-size: larger;
  margin: 2em;
  width: 60em;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

#baseclasslist {
  margin-top: 0.5em;
}
